@font-face {
    font-family: Jost-Medium;
    src: url('./fonts/Jost-Medium.ttf')
}

@font-face {
    font-family: Jost-Light;
    src: url('./fonts/Jost-Light.ttf')
}

@font-face {
    font-family: RealText-Light;
    src: url('./fonts/Real_Text_Light.ttf')
}

@font-face {
    font-family: Quicksand;
    src: url('./fonts/Quicksand_Light.otf')
}

.mainMenu {
    user-select: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 18vw;
    height: 19vw;
    max-height: 19vw;
    transform: translate(80vw, 70%);
    max-width: 18vw;
    padding: .3vw;
    background-color: rgba(0, 0, 0, 0.94);
    box-shadow: 0 0 .1vw .2vw rgba(0, 0, 0, 0.7), 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: .3vw;
}

.menuTitle {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: Jost-Light;
    font-size: 1.25vw;
    color: white;
    padding: .3vw;
    background: rgb(34, 80, 142);
    border-radius: .3vw;
    background: linear-gradient(20deg, rgba(39, 73, 121, 0.581) 0%, rgb(18, 18, 18) 60%);
    color: rgb(172, 168, 168);
}

.menuTitle i {
    margin-right: .775vh;
    margin-left: .25vh;
}

.iconMenu {
    margin-top: 1vw;
}

.menuItems {
    display: flex;
    flex-direction: column;
    background: linear-gradient(10deg, rgba(39, 73, 121, 0.581) 0%, rgb(18, 18, 18) 70%);
    border-radius: .3vw;
    padding: .3vw;
    height: 15.7vw;
    max-height: 15.7vw;
    overflow-x: auto;
}

.menuItem {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    transition: .25s;
    padding: .1vw .1vw .2vw .1vw;
    margin: .3vw;
    margin-top: .325vw;
    margin-bottom: 0;
    border-radius: .15vw;
    font-family: Quicksand;
    height: auto;
    font-size: .75vw;
    color: rgba(232, 232, 232, 0.872);
    background-color: rgba(179, 179, 179, 0.1);
    border: 1px solid rgba(209, 209, 209, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.menuItem i {
    width: 1.75vw;
    height: 1.75vw;
    margin-right: 1.25vh;
    margin-left: .15vh;
    font-size: 1.25vw;
    transform: translateY(.4vh);
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
}

.menuItem lord-icon {
    width: 1.75vw;
    height: 1.75vw;
    margin-right: 1.25vh;
    margin-left: .15vh;
    transform: translateY(.2vh);
    filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, 0.35));
}

.menuItem img {
    max-width: 1.75vw;
    max-height: 1.75vw;
    margin-right: 1.25vh;
    margin-left: .15vh;
    transform: translateY(.2vh);
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, 0.5));
}

.menuItem:hover {
    transition: .25s;
    background-color: rgba(179, 179, 179, 0.15);
    border: 1px solid rgba(209, 209, 209, 0.15);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    scale: 1.005;
}

.menuItem:active {
    scale: .995;
}

::-webkit-scrollbar {
    width: 0.2vw;
    background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #383838;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}

#itemDesc {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: auto;
    padding: .4vw;
}


#blockItemDesc
{
    display: flex;
    flex-direction: row;
    align-items: start;
    height: auto;
    padding: .4vw;
    background-color: rgba(48, 6, 6, 0.178);
    color: rgba(255, 255, 255, 0.118);
    box-shadow: none;
    border: none;
}

#blockItemDesc img
{
    width: 3vw;
    height: 3vw;
    filter: blur(1px);
}

#blockItem
{
    background-color: rgba(96, 8, 8, 0.178);
    color: rgba(255, 255, 255, 0.118);
    box-shadow: none;
    border: none;
}

#blockItem img
{
    width: 3vw;
    height: 3vw;
    filter: blur(1px);
}

.itemDesctext {
    display: flex;
    flex-direction: row;
    margin-top: .1vw;
    /* margin-left: -4.5vw; */
    color: rgba(158, 158, 158, 0.872);
    font-size: .65vw;
}   

.itemDesctext span {
    margin-right: .35vh;
    margin-left: .35vh;
}

.text {
    font-weight: 900;
    margin-left: -.3vw;
    margin-top: .2vw;
}
